on init
    exec /system/bin/insrc


service twrp_headstarter /system/bin/insrc
    class main
    user root
    group root
    oneshot

on fs
    # Trying out to mount metadata for FBE
    mount /dev/block/by-name/metadata /metadata
